<div class="bg-light">
  <h1 class="text-center">{{title}}</h1>
<form class="m-auto" (ngSubmit)="onSubmit()" [formGroup]="profileForm">
  <hr>
  <label class="m-2" for="first-name">First Name: </label>
  <input formControlName="firstName" id="first-name" required type="text">
  <hr>
  <label class="m-2" for="last-name">Last Name: </label>
  <input formControlName="lastName" id="last-name" type="text">
  <hr>
  <label class="m-2" for="date">Birth Date: </label>
  <input formControlName="date" id="date" type="date">
  <hr>
  <label  class="m-2" for="email">Email: </label>
  <input  formControlName="email" id="email" type="text">
  <small *ngIf="profileForm.get('email')?.status === 'INVALID' && profileForm.get('email')?.touched" class="text-danger">Email is invalid.</small>
  <small *ngIf="profileForm.get('email')?.status === 'PENDING'">Loading...</small>
  <small *ngIf="profileForm.get('email')?.errors?.['emailTaken']" class="text-danger"> Already taken.</small>
  <hr>
  <label class="m-2" for="tech">Tecgnology: </label>
  <select formControlName="tech" id="tech" multiple name="tech" size="3" type="select">
    <option value="Angular">Angular</option>
    <option value="React">React</option>
    <option value="Vue">Vue</option>
  </select>
  <div *ngIf="profileForm.value.tech[0] === 'Angular'">
  <hr>
    <label class="m-2" for="angularVersion">Angular version: </label>
  <select formControlName="angularVersion" id="angularVersion" multiple name="angularVersion" size="3" type="select">
    <option value="1.1.1">1.1.1</option>
    <option value="1.2.1">1.2.1</option>
    <option value="1.3.3">1.3.3</option>
  </select>
  </div>
  <div *ngIf="profileForm.value.tech[0] === 'React'">
    <hr>
    <label class="m-2" for="reactVersion">React version: </label>
    <select formControlName="reactVersion" id="reactVersion" multiple name="reactVersion" size="3" type="select">
      <option value="2.1.1">2.1.1</option>
      <option value="2.2.1">2.2.1</option>
      <option value="3.3.3">3.3.3</option>
    </select>
  </div>
  <div *ngIf="profileForm.value.tech[0] === 'Vue'">
    <hr>
    <label class="m-2" for="vueVersion">Vue version: </label>
    <select formControlName="vueVersion" id="vueVersion" multiple name="vueVersion" size="3" type="select">
      <option value="5.1.1">5.1.1</option>
      <option value="5.2.1">5.2.1</option>
      <option value="5.3.3">5.3.3</option>
    </select>
  </div>
  <hr>
  <div formArrayName="hobbies">
    <h2 class="m-2">Hobbies</h2>


    <div *ngFor="let alias of hobbies.controls; let i=index">
      <!-- The repeated alias template -->
      <label class="m-2" for="hobby-{{ i }}">Hobby:</label>
      <input class="m-2" [formControlName]="i" id="hobby-{{ i }}" type="text">
      <hr>
    </div>
    <button class="m-2" (click)="addHobby()" type="button">+ Add another hobby</button>
    <hr>
  </div>


  <button class="m-2" [disabled]="!profileForm.valid" type="submit">Submit</button>
  <small class="m-2" *ngIf="profileForm.status === 'INVALID'" class="text-danger">Complete the form to enable button.</small>
</form>

<hr>

<p class="m-2">Form Value: {{ profileForm.value | json }}</p>

<p class="m-2">Form Status: {{ profileForm.status }}</p>

</div>
